<link rel="stylesheet" type="text/css" href="/css/login.css">


  <title>Sign-Up/Login Form</title>

    <div class="form">

      <ul class="tab-group">
        <li class="tab"><a href="/userAuth/register">Sign Up</a></li>
        <li class="tab active"><a href="/userAuth/login">Log In</a></li>
      </ul>

      <div class="tab-content">

        <div id="login">
          <h1>{{loginflash}}</h1>
      <form action="/userAuth/login" method="post">

          <div class="field-wrap">
            <label>
            </label>
            <input type="email" name='email' placeholder='Email Address' required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
            </label>
            <input type="password" name='password' placeholder='Enter Password' required autocomplete="off"/>
          </div>

          <button type="submit" class="button button-block"/>Log In</button>

          </form>

        </div>

        <div id="login">
        </div>

      </div>

</div>
