<h1>login page</h1>

<form action="/userAuth/login" method="post">
  <div class="form-group">
    <label>
      Name:
      <input type="text" name="name" placeholder="Submit your name">
    </label>
  </div>

  <div class="form-group">
    <label>
      Email:
      <input type="text" name="email" placeholder="e.g. jane@gmail.com">
    </label>
  </div>

  <div class="form-group">
    <label>
      Password:
      <input type="password" name="password" placeholder="password min. 8">
    </label>
  </div>

  <button>Login</button>
</form>
