<link rel="stylesheet" type="text/css" href="/css/register.css">

<title>Sign-Up/Login Form</title>

  <div class="form">

    <ul class="tab-group">
      <li class="tab active"><a href="/userAuth/register">Sign Up</a></li>
      <li class="tab"><a href="/userAuth/login">Log In</a></li>
    </ul>

    <div class="tab-content">

      <div id="register">
        <h1>Sign Up for Free</h1>
    <form action="/userAuth/register" method="post">

      <div class="field-wrap">
        <label>
        </label>
        <input type="text" name = 'name' placeholder='Name' required autocomplete="off" />
      </div>

    <div class="field-wrap">
      <label>
      </label>
      <input type="email" name='email' placeholder='Email Address' required autocomplete="off"/>
    </div>

    <div class="field-wrap">
      <label>
      </label>
      <input type="password" name='password' placeholder='Set a Password' required autocomplete="off"/>
    </div>

        <button type="submit" class="button button-block"/>Get Started</button>

        </form>

      </div>


      <div id="login">
      </div>

    </div>

</div>
