<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Plentiful</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">

</head>

<body>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Caveat" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  </head>
  <body>
    <div class="page">
      <div class="header">
        <h1><a href='/'>PLENTIFUL</a></h1>
        <div class="tagline"><p>==Your Recipe Diary==</p></div>
      </div>
        <div class ="nav">
                <a class="nav-item" href=/ id='home'>
                  Search
                </a>
                <a class="nav-item" href=/favrecipe id='mymeals'>
                  Favourites
                </a>
                <a class="nav-item" href=/ingredient id='ingredient'>
                  Groceries
                </a>
                {{#if user}}
                <a class="nav-item" href=/userAuth/logout id='user'>
                  Logout
                </a>
                {{else}}
                <a class="nav-item" href=/userAuth/login id='user'>
                  Login/Register
                </a>
                {{/if}}
              </div>
      {{{ body }}}

    </div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    {{!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> --}}
      {{!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> --}}
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> --}}
    {{!-- for chat - experimental --}}
    {{!-- <script src="/socket.io/socket.io.js"></script> --}}
    <script src="/js/script.js" charset="utf-8"></script>
  </body>

<footer>

  <a href="mailto:ngwanzhen@gmail.com"><p>&copy; thecodingdog</p></a>
</footer>

  </html>
