<link rel="stylesheet" type="text/css" href="/css/groceries.css">
<h4>
  Welcome back {{user.name}} !
</h4>

<div class="content">
  <ul class="rounded-list">
    {{#each dbitems as |item|}}
        {{#if item.name}}
        <li>
        <span>
          <button class="deleteIngredients" value='{{item.id}}'>{{item.name}}</button>
          </span>
      </li>
        {{/if}}

      {{!-- <li>{{item.name}}</li> --}}
    {{/each}}
  </ul>
</div>
