
<link rel="stylesheet" type="text/css" href="/css/search.css">

  <div class="search">
    <input class="search-box" type="text" placeholder="Chicken" name="query" id="inputBox" />
    <i id="ingredientsSearch" class="material-icons">search</i>
  </div>

  <img src='/img/spinner.gif' id='spinner'></img>

  <div id='searchResults' class='resultContainer'>
    <div class="quotes">
      If music be the food of love, play on. - William Shakespeare
    </div>
    <div class="quotes">
      Your diet is a bank account. Good food choices are good investments. - Bethanny Frankel
    </div>
    <div class="quotes">
      There is no sincere love than the love of food - George Bernard Shaw
    </div>
    <div class="quotes">
      If you can’t feed a hundred people, then feed just one - Mother Theresa
    </div>
    <div class="quotes">
      Cooking is all about people. Food is maybe the only universal thing that really has the power to bring everyone together. No matter what culture, everywhere around the world, people get together to eat. - Guy Fieri
    </div>
    <div class="quotes">
      Let food be thy medicine and medicine be thy food - Hippocrates
    </div>
    <div class="quotes">
      One cannot think well, love well, sleep well, if one has not dined well - Virginia Woolf
    </div>
    <div class="quotes">
      Wine is bottled poetry - Robert Louis Stevenson
    </div>
    <div class="quotes">
      You better cut the pizza in four pieces because I’m not hungry enough to eat six - Yogi Berra
    </div>

  </div>

  <button id='next'>More Results</button>

  <div class='singleRecipeContainer'>
        <div id='recipePageLeft'>
        </div>
        <div id='recipePageRight'>
        </div>
        <img src='/img/spinner.gif' id='spinner3'></img>
  </div>
