
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #F3EFE6;
}

h1{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #504D54;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #F66957;
}

.form {
  /*background: #504D54;*/
  background: #F3EFE6;
  padding: 40px;
  max-width: 400px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  font-family: 'Lato', sans-serif;
}

#login{
  margin-top: 0px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  /*margin-bottom: 0;*/
  text-decoration: none;
  padding: 15px;
  color: black;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background: rgba(160, 179, 176, 0.25);
  /*color: #a0b3b0;*/
}
.tab-group li a:hover {
  background: #F1D1A0;
  /*background: #F66957;*/
}
.tab-group .active a {
  background: #F66957;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: #805A3B;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 20px;
}
label .req {
  margin: 2px;
  color: #F66957;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #F66957;
}

input, textarea {
  font-size: 20px;
  display: block;
  width: 100%;
  height: 150%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #F1D1A0;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 5;
  border-color: #c60000;
}

textarea {
  border: 2px solid #805a3b;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 20px;
  /*font-weight: 600;*/
  text-transform: uppercase;
  /*letter-spacing: .1em;*/
  background: #F66957;
  /*color: #F66957;*/
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #F66957;
}

.button-block {
  display: block;
  width: 100%;
  text-transform: capitalize;
  cursor: pointer;
}

#user {
  color: #F66957;
}
