body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #444;
}
.nav {
  padding: 20px 0;
}
.hero.is-dark .nav-item a:not(.button), .hero.is-dark a.nav-item {
    color: #black;
    padding: 0 30px;
}
.nav-item {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.nav-item img{
  width: 50px;
  height: 50px;
  background-size: cover;
}

.nav-item .button{
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  height: 45px;
  border-radius;
}
.promo-img {
  border-radius: 10px;
  border: 10px solid #fff;
  height: 50%;
}
