html {
  background: url(/img/background.jpg) no-repeat center center fixed;
  background-position: center 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.page, footer{
  box-shadow: 12px 0 15px -4px rgba(19, 35, 47, 0.3), -12px 0 8px -4px rgba(19, 35, 47, 0.3);
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(19, 35, 47, 0.3), -12px 0 15px -4px rgba(19, 35, 47, 0.3);
  margin: 0 7%;
  background-color: white;
}

.page{
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #545454;
  height: 100%;
}

a:hover {
  color: #F66957;
}

.header h1{
  font-family: 'Raleway', sans-serif;
  line-height: 60px;
  font-size: 60px;
  font-weight: 200;
  letter-spacing: 10px;
  text-align: center;
  color: #F66957;
  margin-top: 40px;
  margin-bottom: 2px;
  cursor: pointer;
}

.header a {
  color: #F66957;
}

.tagline p{
  margin-top: 0;
  font-family: 'Caveat', cursive;
  color: #F66957;
  text-align: center;
  font-size: 2em;
}

.nav {
  line-height: 20px;
  border-top: 1px solid #545454;
  border-bottom: 1px solid #545454;
  text-align: center;
  padding: 20px 0px;
  word-spacing: 50px;
}

.nav-item{
  font-family: 'Lato', sans-serif;
  color: #545454;
}

footer{
  text-align: center;
  display: block;
  border-top: 1px solid #545454;
}

.page:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

div{
overflow: auto;}
