/*search bar*/
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px 0px 5px;
  margin: 60px;
  height: 10%;
  border-radius: 60px;
  background-color: rgba(232,202,155,0.4);
  color: white;
}

input#inputBox.search-box{
  border-style: none;
  background-color: rgba(232,202,155,0);
  font-size: 3rem;
  text-align: center;
  color: white;
}

.material-icons{
  font-size: 2rem;
}

#ingredientsSearch{
  cursor: pointer;
}

#ingredientsSearch.material-icons{
  font-size: 2em;
}

#inputBox:focus {
    /*background-color: black;*/
    outline: none;
    border-style: none;
    /*color: #545454;*/
    width: 100%;
}

h4{
  text-align: center;
  font-size: 2rem;
  margin: 20px auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.1;
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #545454;
  display: inline-flex;
  vertical-align: middle;
}

#spinner{
  display: none;
}

#spinner3{
  display: none;
}

/*for search results*/
.imgDisplay img{
  max-height: 200px;
}

.imgDisplay p{
  margin: 2px;
}

.imgDisplay {
    background-color: #eee;
    display: inline-block;
    margin-top: 20px;
    margin-right: 25px;
    text-align: center;
    cursor: pointer;
}

.resultContainer{
  column-count: 4;
  column-gap: 1em;
  margin: 10px 200px 40px 200px;
  border-bottom: 1px solid #545454;
  /*display: flex;*/
}

/*#next{
  display: none;
  margin: auto;
  width: 600px;
  color: #FFFFFF;
  background: #3dd28d;
  height: 30px;
  padding: 20px;*/
  /*font:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 30px;*/
  /*cursor: pointer;
}

.imgDisplay .textdiv{
  display: none;
  font-size: 30px;
}

.imgDisplay:hover .textdiv{
  background-color: rgba(0,0,0,0.6);
  display: block;
}*/


/*for single recipe*/
.one {
    background-color: #eee;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px 250px;
    border-bottom: 1px solid #545454;
    font-size: 1.5rem;
    padding: 20px
}

.one .material-icons{
  font-size: 1.5rem;
}

.one p{
  font-size: 2.0rem;
}

.one img{
  max-width: 40%;
  max-height: 40%;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

ul {
  margin: 0 auto;
  list-style-type: circle;
}

li {
  text-align: left;
}

.one.title{
  font-size: 2.0rem;
  display: inline;
  vertical-align: middle;
}

#addBtn{
  color: red;
  font-size: 2rem;
  cursor: pointer;
}

.onerow{
  line-height: 20px;
  display: inline;
  vertical-align: middle;
  margin: 2px auto;
  border-top: 1px solid #545454;
  border-bottom: 1px solid #545454;
  padding: 5px 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

span{
  text-decoration: underline;
  color: cyan;
  font-size: 120%;
}

/*@media only screen and (max-width: 500px){
     .imgDisplay .textdiv{
       display: block;
    }
    .imgDisplay{
      width: 300px;
      height: 300px;
    }
    .nav-item{
      font-size: 300%;
    }

    body{
      background-color: blue;
    }
}*/

/*for featured recipe and quotes*/
.featuredContainer {
  column-count: 4;
  column-gap: 1em;
  margin: 10px 20px;
  border-bottom: 1px solid #545454;
}

img {
  margin: 2%;
  width: 90%;
  border-radius: 2px;
}

.title{
  font-size: 1.2rem;
  display: inline;
  vertical-align: middle;
}

.featuredContainer .row{
  line-height: 20px;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  margin: 2px auto;
  border-top: 1px solid #545454;
  border-bottom: 1px solid #545454;
  padding: 8px 1px;
  width: 100%;
  word-spacing: 5px;
}

.material-icons{
  font-size: 1.0rem;
}

.featured{
  cursor: pointer;
}

.items{
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  text-align: center;
}

.quotes{
  text-align: left;
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 1em;
  padding: 5px 1px;

}
