.is-dark {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(255, 255, 255, 0.1)),linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('/img/background.jpeg');
  background-size: cover;
}

#spinner{
  display: none;
}

#spinner3{
  display: none;
}

#next{
  display: none;
  margin: auto;
  width: 600px;
  color: #FFFFFF;
  background: #3dd28d;
  height: 30px;
  padding: 20px;
  font:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 30px;
  cursor: pointer;
}

.imgDisplay .textdiv{
  display: none;
  font-size: 30px;
}

.imgDisplay:hover .textdiv{
  background-color: rgba(0,0,0,0.6);
  display: block;
}

body{
  font-size: 24px;
  color: black;
}

h1{
  font-size: 120%;

}

.resultContainer{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
}

.singleRecipeContainer{
  display:table;
  position: relative;
  top: 40px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-right: 100px;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*align-items: flex-start;*/
  /*justify-content: flex-start;*/
  background-color:rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
  border: 1px;
}
#recipePageLeft, #recipePageRight {
    display: table-cell
}
#recipePageLeft{
  width: 600px;
}
#recipePageRight{
  width: 600px;
}
/*#bottomleft{
  position: relative;
  bottom: 0
}*/
#bottomleft p{
  display: inline-block;
  width: 150px;
  font-size: 18px;
}



button{
  /*margin: auto;*/
  width: 200px;
  height: 25px;
  color: #FFFFFF;
  background: #3dd28d;
  padding: 20px;
  font:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  cursor: pointer;
  line-height: 10px;
}

.imgDisplay{
  margin-top: 10px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
  background-size: cover;
  cursor: pointer;
  border: 1px;
  border-style: solid;

}

#recipePageLeft{
    width: 600px;
}

li{
  list-style: circle;
}

span{
  text-decoration: underline;
  color: cyan;
  font-size: 120%;
}
